<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @distribution.film %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @distribution.actor %>
</p>

<%= link_to 'Edit', edit_distribution_path(@distribution) %> |
<%= link_to 'Back', distributions_path %>
