<p id="notice"><%= notice %></p>

<p>
  <strong>Cassette:</strong>
  <%= @rental.cassette %>
</p>

<p>
  <strong>Member:</strong>
  <%= @rental.member %>
</p>

<p>
  <strong>Rental date:</strong>
  <%= @rental.rental_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @rental.return_date %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
