<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
    <ul>
      <a href="/actors"><li>Actors</li></a>
      <a href="/cassettes"><li>Cassettes</li></a>
      <a href="/distributions"><li>Distributions</li></a>
      <a href="/films"><li>Films</li></a>
      <a href="/members"><li>Members</li></a>
      <a href="/rentals"><li>Rentals</li></a>
    </ul>
  </nav>
  
    <%= yield %>
  </body>
</html>
